@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family:'Lato';
	color:rgba(0, 0, 0, 0.83);
	display:flex;
	justify-content:center;
}

h1 {
	margin:0;
	font-size:64px;
}
h3 a {
	float:right;
	font-weight:normal;
	font-size: 18px;
	color:rgba(0, 0, 0, 0.7);
	margin-left:15px;
}
h3 a:hover {
	color:rgba(0, 0, 0, 0.83);
}
li {
	list-style-type:none;
}
a {
	color:rgba(0, 0, 0, 0.83);
	text-decoration: none;
}
.link {
	color: #0275d8;
}
.link:focus, .link:hover {
    color: #014c8c;
    text-decoration: underline;
}
img {
	width:100px;
	height:100px;
}

.container {
	margin-top:75px;
	width:1140px;
}

.project {
	display:grid;
	grid-template-columns: 100px auto;
	margin:15px;
}
.project p, .project h3 {
	margin: 0px 0px 5px 15px;
}
.project img {
	grid-row: 1 / span 2;
}

#desc {
	grid-row: 2;
	grid-column: span 2;
}

.right {
	text-align:right;
}

.large {
	font-size:24px;
}

.gr2 {
	display:grid;
	grid-template-columns: auto auto;
}

@media only screen and (max-width:1200px) {
	.container {
		width:940px;
	}
}

@media only screen and (max-width:1000px) {
	.container {
		width:740px;
	}
}

@media only screen and (max-width:800px) {
	.container {
		width:540px;
	}
}